extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p A few development projects i've completed.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each item in projects
        .cell
          a(href='./project/' + item.id)
            img.thumbnail(src=`${item.thumbnail}`, alt=`A thumbnail for the project ${item.project_name}`)
            h5= item.project_name

